
body {
	margin: 0px;
	padding: 0px;
}

div.header img{
	float: left;
	margin-left: 12pt;
	border-right: 20px solid white;
}

div.header h1 {
	font-size: 18pt;
	font-weight: bold;
}

div.header h2 {
	font-size: 10pt;
	font-weight: normal;
}
div.header h3 {
	font-size: 10pt;
	font-weight: normal;
}

div.body {
	float: left;
	margin: 12px;
	padding: 10px;
}
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
}

div.body h1 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 18pt;
	font-size: 12pt;
	padding: 5px;
}

div.body h2 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 18pt;
	font-size: 12pt;
	font-weight: normal;
	padding: 5px;
}

div.body h3 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 16pt;
	font-size: 8pt;
	padding: 5px;
}

div.body h4 {
	text-align: left;
	margin-top: 24pt;
	margin-bottom: 16pt;
	font-size: 8pt;
	font-weight: normal;
	padding: 5px;
}
